@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');

body{
    background-image: url('home.jpeg');
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contents {
    display: flex;
}

.items {
    font-family: "Kreon", serif;
    width: 65%;
    height: 80px;
    background-color:rgba(135, 206, 235, 0.5);
    margin-left: 30%;
    border-radius: 15px;
}

.points {
    margin-top: 30px;
    margin-left: 40px;
    padding-right: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgba(255, 255, 255, 0.9);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 15px;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.atag{
    text-decoration: none;
    color: black;
}

.container{
    right: 0;
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 30px;
    margin-right: 90px;
    border-radius: 20px;
}

.container h1, h3{
    text-align: center;
}

.slogan{
    text-align: center;
    font-family: "Merienda", cursive;
    font-size: 16px;
    margin-top: 50px;
}

.sub-head{
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}

.heading{
    font-size: 25px;
    margin-top: 90px;
    font-family: "Noticia Text", serif;
}

.points {
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.3s ease;
}

.points:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(135, 206, 235, 0.7);
}